<div class="card py-2 shadow rounded-4 mt-3">
  <div class="card-body text-center ">
    <h5 class="card-title  fs-5 fw-bold text-danger mt-2 mx-1">
      whishlist products
    </h5>
    <i class="fa-regular fa-star text-danger  fs-4"></i>
    <p class="text-dark d-inline  fs-5 mx-1">{{wishListContainer.length}}</p>
    <p class="card-text"></p>
  </div>

  <div *ngIf="wishListContainer.length==0; then imptyList else wishList"></div>
  <ng-template #wishList>
    <ul
      class="list-group list-group-flush"
      *ngFor="let item of wishListContainer let index =index"
    >
      <li class="list-group-item">
        <div>
          <p class="fw-bold">{{item.name}}</p>
         
         <div class="d-flex  justify-content-between align-items-center">
          <img [src]="item.image" alt="">
          <p class="fw-bold">{{item.price}} LE</p>
          <i class="fa-regular fa-trash-can fs-3 text-danger" (click)="deletewhish(index)"></i>
         </div>
        </div>
      </li>
    </ul>
  </ng-template>
  <ng-template #imptyList>
    <div class="card-body">
      <img src="../../../assets/Online wishes list-amico.svg" alt="" />
      <p class="text-center text-danger fs-6">
        you can add your favourites products here 🤩
      </p>
    </div>
  </ng-template>
</div>
