<div class="card  my-3 rounded-4 shadow p-3  ">
  <img [src]="product.image" class="card-img-top " [alt]="" />
  <div class="card-body position-relative">
    <h5 class="card-title">

      <a (click)=" addtoWishList(product)" class="wishlist"  >
        <i class="fa-regular fa-star  text-danger fs-3" [ngClass]="isfavourite?'text-success':'text-danger'"></i>
      </a>
      <span class="fs-5 fw-bold text-center "></span> {{
      (product.name.length>30)? (product.name | slice:0:25)+'..':(product.name)
      }}
    </h5>
    <!-- <p>
      <span class="fs-5 fw-bold"> createdAt:</span>
      {{ product.createdAt | date: "MMMM d, y" }}
    </p> -->
    <div *ngIf="product.count > 0; then inStock; else outOfStock"></div>
    <ng-template #inStock>
      <span class="text-success fw-bold fs-5 p-2">instock</span></ng-template
    >
    <ng-template #outOfStock
      ><span class="text-danger fw-bold p-2">outOfStock</span></ng-template
    >
    <p class="py-2 text-dark fw-bold">
      price:{{ product.price | currency: "LE":"code":"":"fr" }}
    </p>
    <div class="text-center ">
      <button
        class="btn btn-primary my-2"
        (click)="addToCard(product)"
        [disabled]="product.count== 0"
      >
        add to card
      </button>
      <button class="btn btn-warning" (click)="productDetailsPage()">
        product details
      </button>
    </div>
  </div>
</div>
